@import "tailwindcss";

/* Cairo Fonts */
@font-face {
  font-family: "Cairo";
  src: url("/Fonts/static/Cairo-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Cairo";
  src: url("/Fonts/static/Cairo-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Cairo";
  src: url("/Fonts/static/Cairo-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cairo";
  src: url("/Fonts/static/Cairo-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Cairo";
  src: url("/Fonts/static/Cairo-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Cairo";
  src: url("/Fonts/static/Cairo-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cairo";
  src: url("/Fonts/static/Cairo-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Cairo";
  src: url("/Fonts/static/Cairo-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

/* Variable Font */
@font-face {
  font-family: "Cairo";
  src: url("/Fonts/Cairo-VariableFont_slnt,wght.ttf") format("truetype");
  font-weight: 100 900; /* يدعم كل الأوزان */
  font-style: normal;
}

/* استعمال الخط كافتراضي لكل العناصر */
* {
  font-family: "Cairo", sans-serif;
}

button {
  cursor: pointer;
}

input,
textarea {
  caret-color: #2b7fff;
}

/* ستايل الـ scrollbar لكل العناصر */
* {
  scrollbar-width: thin; /* للفايرفوكس */
  scrollbar-color: #2b7fff
}

/* لدعم المتصفحات browsers (Chrome, Edge, Safari) */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: #9a9a9a;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background: #2b7fff;
  border-radius: 10px;
  border: 2px solid #9a9a9a;
}

*::-webkit-scrollbar-thumb:hover {
  background: #126df5;
}

*::-webkit-scrollbar-thumb:active {
  background: #126df5;
}

*::-webkit-scrollbar-corner {
  background: #9a9a9a;
}
